/* LOOK INTO WHY THE NAVBAR ELEMS ARE NOT EVENLY SPACED
ALSO WHY WILL MY IMAGE NOT SIZE CORRECTLY ON PARALLAX IT HATES ME
ALSO LOOK AT SIZING OF ITEMS ON RESUME PAGE AND MAKE THEM WORK ON MOBILE*/


:root {
    --nav-color:black;
    --nav-text-color:white;
}

html {scroll-behavior: smooth;}

.nav-item{margin-top:0;margin-bottom: 0;background-color: black;padding-left: 10px;}


.bg-home,.bg-pub, .bg-res-edu,.bg-res-exp,.bg-res-pro,.bg-res-ski {
  /* The image used */ 
  /* Set a specific height */
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}



.bg-home, .bg-pub, .bg-res-edu {margin-top: 56px;}

.bg-home{min-height: 45vw;background-image: url('pics/p1.jpg');background-position: center 56px;}
.bg-pub{min-height: 640px;background-image: url('pics/pub.jpeg');background-position: right 56px;}
.bg-res-edu{min-height: 500px;background-image:url('pics/wellesley.png');background-position: center 56px;}
.bg-res-exp{min-height: 1600px;background-image:url('pics/summer2024.jpg');background-position: center 0;}
.bg-res-pro{background-image:url('pics/code.png')}
.bg-res-ski{min-height: 550px;background-image: url('pics/daphnid.jpeg');background-position: center -190px;}


/* Setting up the margins on the resume exp cols */
.left{margin-top:2%;}
.right{margin-top:16.5%;}
@media screen and (max-width:991px){
    .left{margin-top:4.75%}
    .right{margin-top:4.75%}
    .bg-res-ski{min-height: 610px;}
}



.bg-cla-cs{background-image: url('pics/code.png');}


.text-block{
    display:flex;
    background-color: black;
    color:white;
    min-height:10vw;
    justify-content: center;
    align-items: center;
}


.parallax-text {
    position: absolute;
    background-color: black;
    color:white;
    padding:10px;
    
    
    max-width: 35vw;
}

.p-text2{
    background: rgba( 0, 0, 0, 0.8 );
    padding:10px;
    backdrop-filter: blur(10px);
}

.blur{
    filter: blur(3px);
}

.class {
    border: white 2px solid;
    margin:15px;
    height: 200px;
    align-content: center;
}
.class:hover{
    background-color: white;
    color: black;
    font-size: 0;
}

.class:hover:after{
    content:attr(data-hover);
    font-size: 16px;
}

ul {list-style-type: '- ';}
li {margin:10px 0;}


a{ color:#b6b5b5;}
a:hover{color:#828282;}

.resume-item{
    border-right: 2px solid white; 
    border-top:2px solid white;
}

#ComputerScience, #Biology, #Math, #CognitiveScience{
scroll-margin-top: 80px;
}
#Education, #Experience, #Projects, #Skills {
scroll-margin-top: 56px;
}


body{
    font-family: "Elms Sans";
    font-weight: 200;
    background-color: black;
    color:white;
}

h1{font-weight: 200;}

h2{font-weight:200;}

.btn-res{
    background-color: white;
    color:black;
    outline: 1px solid black;
    filter: invert(100%);
}
.btn-res:hover{
    background-color: white;
    color:black;
    outline: 1px solid white;
    filter: invert(0%);
}

.btn-sil{
    background-color: white;
    filter: invert(100%);
}
.btn-sil:hover{
    background-color: white;
    filter: invert(0%);
}

.social{filter:invert(100%);height: 27px;margin:10px;}
.social:hover{filter:invert(80%);}

.image-container{
    position:relative;
    display:inline-block;
}

.overlay-text{
    position: absolute;
    top: 7%;
    right:5%;
    color:white;
    font-size: 5vw;
    text-shadow: 3px 3px 2px #000000, 1px 1px 2px black, 0px 0px 2px black;
    max-width: 30vw;
    text-align: right;
}


.custom-navbar-color {
    background-color: var(--nav-color) !important;
}

.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}


.copyright{
    height: 43px;
    background-color: var(--nav-color);
    color: var(--nav-text-color);
    align-content: center;
}