:root {
    --nav-color:black;
    --nav-text-color:white;
}

html {scroll-behavior: smooth;}

.bg-home,.bg-pub, .bg-res-edu,.bg-res-exp,.bg-res-pro,.bg-res-ski {
  /* The image used */ 
    width: 100%;
  /* Set a specific height */
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-home, .bg-pub, .bg-res-edu {margin-top: 56px;}

.bg-home{min-height: 640px;background-image: url('pics/p1.jpg');}
.bg-pub{min-height: 640px;background-image: url('pics/pub.jpeg');}
.bg-res-edu{min-height: 500px;background-image:url('pics/wellesley.png');}
.bg-res-exp{min-height: 2000px;background-image:url('pics/summer2024.jpg')}
.bg-res-pro{min-height: 400px;}
.bg-res-ski{min-height: 400px;}


.text-block{
    display:flex;
    background-color: black;
    color:white;
    min-height:10vw;
    justify-content: center;
    align-items: center;
}


.parallax-text {
    position: absolute;
    background-color: black;
    color:white;
    padding:10px;
    background: rgba( 0, 0, 0, 0.8 );
    backdrop-filter: blur(10px);
    max-width: 35vw;
}

.blur{
    filter: blur(3px);
}

.class {
    border: white 2px solid;
    margin:15px;
    height: 200px;
    align-content: center;
}
.class:hover{
    background-color: white;
    color: black;
    font-size: 0;
}

.class:hover:after{
    content:attr(data-hover);
    font-size: 16px;
}

ul {list-style-type: '- ';}
li {margin:10px 0;}


a{ color:#b6b5b5;}
a:hover{color:#828282;}

.resume-item{
    border-right: 2px solid white; 
    border-top:2px solid white;
}

#ComputerScience {
scroll-margin-top: 80px;
}
#Biology {
scroll-margin-top: 80px;
}
#Math {
scroll-margin-top: 80px;
}
#CognitiveScience {
scroll-margin-top: 80px;
}

#Education {
scroll-margin-top: 80px;
}
#Experience {
scroll-margin-top: 80px;
}
#Projects {
scroll-margin-top: 80px;
}
#Skills {
scroll-margin-top: 80px;
}

body{
    font-family: "Elms Sans";
    font-weight: 200;
    background-color: black;
    color:white;
}

h1{font-weight: 200;}

h2{font-weight:200;}

.btn-res{
    background-color: white;
    color:black;
    outline: 1px solid black;
    filter: invert(100%);
}
.btn-res:hover{
    background-color: white;
    color:black;
    outline: 1px solid white;
    filter: invert(0%);
}

.btn-sil{
    background-color: white;
    filter: invert(100%);
}
.btn-sil:hover{
    background-color: white;
    filter: invert(0%);
}

.social{filter:invert(100%);height: 27px;margin:10px;}
.social:hover{filter:invert(80%);}

.image-container{
    position:relative;
    display:inline-block;
}

.overlay-text{
    position: absolute;
    top: 7%;
    right:5%;
    color:white;
    font-size: 5vw;
    text-shadow: 3px 3px 2px #000000, 1px 1px 2px black, 0px 0px 2px black;
    max-width: 30vw;
    text-align: right;
}


.custom-navbar-color {
    background-color: var(--nav-color) !important;
}

.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}


.copyright{
    height: 40px;
    background-color: var(--nav-color);
    color: var(--nav-text-color);
    align-content: center;
}