:root {
    --primary-color:rgb(255, 255, 255);
    --text-color:#000000;
    --text2-color:white;
    --accent-color:#1d4f7a;
    --accent2-color:rgb(237, 236, 236);
    --grad1:rgb(0, 85, 212);
    --grad2:rgb(0, 255, 208);
    --other-color:linear-gradient(45deg, var(--grad1), var(--grad2));
}

a{
    color:var(--grad1)
}

.copyright{
    height: 40px;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.wave-container{
    position: relative;
}
.text-container{
    position: absolute;
    text-align: center;
}

.border-line{
    height: 20px;
    background: var(--other-color);
    border: var(--accent-color) solid 2px;
}

.circle-item{
    display: flex;
    background: 
        var(--other-color);
    border-radius: 50%;
    margin:7%;
    border: var(--accent-color) solid 7px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    aspect-ratio: 1/1;
}

.resume-item {
    color:var(--text2-color);
    border: double 1px transparent;
    border-radius: 30px;
    background-image: linear-gradient(var(--accent-color),var(--accent-color)), var(--other-color);
    background-origin: border-box;
    background-clip: content-box, border-box;
    justify-content: center;
    padding:8px;
    margin:20px;
}


.border{
    border-image: var(--other-color) !important;
    border-radius: 15px !important;
    border-style: solid !important;
}

body {
    background-color:var(--primary-color);
    color:var(--text-color);
    padding-top: 56px; 
    font-family:elms-sans;
    height:100%
}

.gradientText{
    color: white;
    border-radius: 0.375rem;
    display: inline-block;
    padding: 7px;
    text-align: center;
    background: linear-gradient(45deg, var(--accent-color) 0%, rgb(255, 255, 64) 100%);
}


.custom-navbar-color {
    background-color: var(--accent-color) !important;
}


.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}